body
  color: $DarkGray
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif

h1,
h2,
h3,
h4,
h5,
h6
  color: $DarkGray
  margin: 0

ul
  list-style-type: square
  li
    margin-bottom: 8px
    ul li
      margin-bottom: 2px

dl dd
  padding: 0 0 0 16px

a
  color: $Green
  text-decoration: underline
  &:hover
    color: $DarkGreen

@media (max-width: 768px)
  .page
    margin: 0 !important
    padding: 0 !important