a.btn
  text-decoration: none

.btn-success
  background: $Green
  box-shadow: none
  border-color: $Green
  &:hover,
  &:focus
    background: $DarkGreen
    border-color: $DarkGreen
    box-shadow: none