a.btn
  text-decoration: none
  border-radius: 0

.btn-success
  background: $White
  border-color: $Green
  box-shadow: none
  color: $Green
  transition: background .16s
  &:hover,
  &:focus
    background: $Green
    border-color: $DarkGreen
    color: $White