.label
  display: inline-block
  margin-left: .2em
  padding: .2em .6em .2em
  text-indent: 0
  font-size: 80%
  border-radius: 0

.label-success
  background: $Green
  border-color: $Green
  box-shadow: none

.label-primary
  margin: 0 .4em
  background: $LightGray
  border-color: $LightGray
  color: $DarkGray
  box-shadow: none