.label
  display: inline-block
  margin-left: .2em
  text-indent: 0
  font-size: 80%
  border-radius: 0

.label-success
  background: $Green
  border-color: $Green
  box-shadow: none
  &:hover,
  &:focus
    background-color: $DarkGreen !important
    border-color: $DarkGreen !important
    box-shadow: none