.panel-default
  border-color: transparent
  box-shadow: none

.panel-footer
  text-align: center
  background: $White

.panel-body
  h2,
  h3
    overflow: hidden
    white-space: nowrap
    text-overflow: ellipsis
  ul
    li
      padding-bottom: 8px
      a
        color: $Green
        line-height: 1.6

.panel-program
  min-height: 165px