extends layout/default

block title
  title 2014年度|筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    ol.breadcrumb
      li
        a(href="index.html") Top
      li.active
        |2014年度

  .container
    .col-md-12.panel.panel-default
      .panel-body
        .page-header
          h2 2014年 知識情報・図書館学類 学類説明会
        h3 概要
        
        ul 
          li 日時： 2014年7月23日（水）
          li
            |場所：筑波大学 春日エリア
            a(href = "http://klis.tsukuba.ac.jp/access2.html") アクセス情報
          li
            a(href = "http://klis.tsukuba.ac.jp/OpenCampus14.html") 知識情報・図書館学類 公式Web

        h3 スケジュール
        table.table.table-bordered.table-schedule
          thead
            tr
              th 場所
              th 09:00
              th 10:00
              th 11:00
              th 12:00
              th 13:00
              th 14:00
              th 15:00
              th 16:00
              th 17:00
          tbody
            tr
              td 全体
              td.success 受付開始
              td
              td
              td.success 昼休み
              td
              td
              td
              td
              td

            tr
              td 講堂
              td.info 受け付け
              td.info 教員挨拶
              td.info 休憩
              td.info コント
              td.info パネルディスカッション
              td
              td
              td
              td
            tr
              td 教室1
              td
              td
              td
              td.warning 相談コーナー
              td
              td
              td
              td
              td
            tr
              td 教室2
              td.danger 映像展示
              td
              td
              td
              td
              td
              td
              td
              td
            tr
              td 教室3
              td
              td
              td
              td.success ゼミ見学
              td
              td
              td.success ゼミ見学
              td
              td
            tr
              td 教室4
              td
              td
              td
              td 
              td
              td
              td.info スチューデントトーク
              td
              td
            tr
              td シンデレラ階段下
              td
              td
              td
              td.warning キャンパスツアー
              td
              td 
              td
              td
              td
            tr
              td 教室A
              td
              td
              td
              td.danger 体験授業
              td
              td
              td
              td
              td
            tr
              td 教室B
              td
              td
              td
              td.success 体験授業
              td
              td
              td
              td
              td
            tr
              td 図書館
              td.info 図書館見学
              td
              td
              td
              td
              td
              td
              td
              td
  .container
    .col-md-12.panel.panel-default
      .panel-body
        .page-header
          h2 受験生のための筑波大学説明会
        h3 概要
        a(href = "http://www.tsukuba.ac.jp/admission/opencampus/") (公式HPはこちら)
        ul 
          li 日時： 2014年 08月 23日（土）
          li
            |場所：筑波大学 春日エリア
            a(href = "http://klis.tsukuba.ac.jp/access2.html") (アクセス情報)
