extends layout/default

block title
  title 説明会について | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 説明会について

      .page-body
        .row
          .col-sm-9.col-sm-push-3
            .tab-content
              #outline.tab-pane.active
                h2 説明会の紹介
                p
                  |本学類では、8月に大学全体で行われる大学説明会の他に、7月下旬に本学類のみでの｢知識情報･図書館学類　学類説明会｣を行っています。こちらの説明会では、学期中(通常授業期間内)に行われるため、授業の見学や研究室の公開といった企画が開催されることが特徴です。この他にも教育課程や入学試験の説明、学生によるパネルディスカッションや相談コーナーなどの企画があります(これらは7月、8月両方の説明会で行われます)。
                p
                  |この学類の様子をより詳しく知りたい場合は7月の説明会、他学類の様子も知りたい場合は8月の説明会をおすすめします。

                hr
                h2 実行委員について
                p
                  |本学類では｢筑波大学 情報学群 知識情報・図書館学類 学類説明会委員会｣(以下、大説委員)を設置し、説明会での各企画の立案・準備や、当日の運営･進行を行っております。また、このWebサイトの設置・運営も大説委員が行っております。

              #programs.tab-pane
                h2 2014年度
                .row
                  .col-md-4.col-sm-6.col-xs-12
                    .well
                      span.label.label-danger 終了
                      .row
                        .col-sm-12.well-heading-pic
                          img.cover(src='image/2014/klis/004.min.png')
                        .col-sm-12
                          .well-body
                            h4 知識情報・図書館学類 学類説明会
                            p 07/23(水曜日) 10:00~ (受付開始 09:00)
                            .text-right
                              a.btn.btn-success(href="2014_sm_klis.html")
                                |詳しくはコチラ
                                i.fa.fa-arrow-circle-right.fa-fw

                  .col-md-4.col-sm-6.col-xs-12
                    .well
                      span.label.label-danger 終了
                      .row
                        .col-sm-12.well-heading-pic
                          img.cover(src='image/2014/klis/004.min.png')
                        .col-sm-12
                          .well-body
                            h4 知識情報・図書館学類 学類説明会
                            p 07/23(水曜日) 10:00~ (受付開始 09:00)
                            .text-right
                              a.btn.btn-success(href="2014_sm_klis.html")
                                |詳しくはコチラ
                                i.fa.fa-arrow-circle-right.fa-fw

                  .col-md-4.col-sm-6.col-xs-12
                    .well
                      span.label.label-danger 終了
                      .row
                        .col-sm-12.well-heading-pic
                          img.cover(src='image/2014/klis/004.min.png')
                        .col-sm-12
                          .well-body
                            h4 知識情報・図書館学類 学類説明会
                            p 07/23(水曜日) 10:00~ (受付開始 09:00)
                            .text-right
                              a.btn.btn-success(href="2014_sm_klis.html")
                                |詳しくはコチラ
                                i.fa.fa-arrow-circle-right.fa-fw

                hr
                h2 2013年度
                .row
                  .col-md-4.col-sm-6.col-xs-12
                    .well
                      span.label.label-danger 終了
                      .row
                        .col-sm-12.well-heading-pic
                          img.cover(src='image/2014/klis/004.min.png')
                        .col-sm-12
                          .well-body
                            h4 知識情報・図書館学類 学類説明会
                            p 07/23(水曜日) 10:00~ (受付開始 09:00)
                            .text-right
                              a.btn.btn-success(href="2014_sm_klis.html")
                                |詳しくはコチラ
                                i.fa.fa-arrow-circle-right.fa-fw

                  .col-md-4.col-sm-6.col-xs-12
                    .well
                      span.label.label-danger 終了
                      .row
                        .col-sm-12.well-heading-pic
                          img.cover(src='image/2014/klis/004.min.png')
                        .col-sm-12
                          .well-body
                            h4 知識情報・図書館学類 学類説明会
                            p 07/23(水曜日) 10:00~ (受付開始 09:00)
                            .text-right
                              a.btn.btn-success(href="2014_sm_klis.html")
                                |詳しくはコチラ
                                i.fa.fa-arrow-circle-right.fa-fw

                  .col-md-4.col-sm-6.col-xs-12
                    .well
                      span.label.label-danger 終了
                      .row
                        .col-sm-12.well-heading-pic
                          img.cover(src='image/2014/klis/004.min.png')
                        .col-sm-12
                          .well-body
                            h4 知識情報・図書館学類 学類説明会
                            p 07/23(水曜日) 10:00~ (受付開始 09:00)
                            .text-right
                              a.btn.btn-success(href="2014_sm_klis.html")
                                |詳しくはコチラ
                                i.fa.fa-arrow-circle-right.fa-fw

          .col-sm-3.col-sm-pull-9
            ul.list-group(class='nav nav-tabs')
              a.list-group-item(href='#outline' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |概要
              a.list-group-item(href='#programs' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |過去の説明会

            //- .col-md-4.col-sm-6.col-xs-12
            //-   .well
            //-     span.label.label-danger 終了
            //-     .row
            //-       .col-sm-12.well-heading-pic
            //-         img.cover(src='image/2014/klis/004.min.png')
            //-       .col-sm-12
            //-         .well-body
            //-           h4 知識情報・図書館学類 学類説明会
            //-           p 07/23(水曜日) 10:00~ (受付開始 09:00)
            //-           .text-right
            //-             a.btn.btn-success(href="2014_sm_klis.html")
            //-               |詳しくはコチラ
            //-               i.fa.fa-arrow-circle-right.fa-fw

        //- .page-header
        //-   h3 2013年度
        //- .page-body
        //-   .row
        //-     .col-md-4.col-sm-6.col-xs-12
        //-       .well
        //-         span.label.label-danger 終了
        //-         .row
        //-           .col-sm-12.well-heading-pic
        //-             img.cover(src='image/2014/klis/004.min.png')
        //-           .col-sm-12
        //-             .well-body
        //-               h4 知識情報・図書館学類 学類説明会
        //-               p 07/23(水曜日) 10:00~ (受付開始 09:00)
        //-               .text-right
        //-                 a.btn.btn-success(href="2014_sm_klis.html")
        //-                   |詳しくはコチラ
        //-                   i.fa.fa-arrow-circle-right.fa-fw

        //-     .col-md-4.col-sm-6.col-xs-12
        //-       .well
        //-         span.label.label-danger 終了
        //-         .row
        //-           .col-sm-12.well-heading-pic
        //-             img.cover(src='image/2014/klis/004.min.png')
        //-           .col-sm-12
        //-             .well-body
        //-               h4 知識情報・図書館学類 学類説明会
        //-               p 07/23(水曜日) 10:00~ (受付開始 09:00)
        //-               .text-right
        //-                 a.btn.btn-success(href="2014_sm_klis.html")
        //-                   |詳しくはコチラ
        //-                   i.fa.fa-arrow-circle-right.fa-fw

        //-     .col-md-4.col-sm-6.col-xs-12
        //-       .well
        //-         span.label.label-danger 終了
        //-         .row
        //-           .col-sm-12.well-heading-pic
        //-             img.cover(src='image/2014/klis/004.min.png')
        //-           .col-sm-12
        //-             .well-body
        //-               h4 知識情報・図書館学類 学類説明会
        //-               p 07/23(水曜日) 10:00~ (受付開始 09:00)
        //-               .text-right
        //-                 a.btn.btn-success(href="2014_sm_klis.html")
        //-                   |詳しくはコチラ
        //-                   i.fa.fa-arrow-circle-right.fa-fw