extends layout/default

block title
  title 説明会について | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 説明会について

      .page-body
        .page-header
          h2 実行委員について
        .page-body
          p
            |ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ
          p
            |ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ
          p
            |ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ

        .page-header
          h2 説明会の紹介
        .page-body
          p
            |ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ
          p
            |ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ
          p
            |ほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげほげ

    .page
      .page-header
        h1 過去の説明会

      .page-body
        .page-header
          h3 2014年度
        .page-body
          .row
            .col-md-4.col-sm-6.col-xs-12
              .well
                span.label.label-danger 終了
                .row
                  .col-sm-12.well-heading-pic
                    img.cover(src='image/2014/klis/004.min.png')
                  .col-sm-12
                    .well-body
                      h4 知識情報・図書館学類 学類説明会
                      p 07/23(水曜日) 10:00~ (受付開始 09:00)
                      .text-right
                        a.btn.btn-success(href="2014_sm_klis.html")
                          |詳しくはコチラ
                          i.fa.fa-arrow-circle-right.fa-fw

            .col-md-4.col-sm-6.col-xs-12
              .well
                span.label.label-danger 終了
                .row
                  .col-sm-12.well-heading-pic
                    img.cover(src='image/2014/klis/004.min.png')
                  .col-sm-12
                    .well-body
                      h4 知識情報・図書館学類 学類説明会
                      p 07/23(水曜日) 10:00~ (受付開始 09:00)
                      .text-right
                        a.btn.btn-success(href="2014_sm_klis.html")
                          |詳しくはコチラ
                          i.fa.fa-arrow-circle-right.fa-fw

            .col-md-4.col-sm-6.col-xs-12
              .well
                span.label.label-danger 終了
                .row
                  .col-sm-12.well-heading-pic
                    img.cover(src='image/2014/klis/004.min.png')
                  .col-sm-12
                    .well-body
                      h4 知識情報・図書館学類 学類説明会
                      p 07/23(水曜日) 10:00~ (受付開始 09:00)
                      .text-right
                        a.btn.btn-success(href="2014_sm_klis.html")
                          |詳しくはコチラ
                          i.fa.fa-arrow-circle-right.fa-fw

        .page-header
          h3 2013年度
        .page-body
          .row
            .col-md-4.col-sm-6.col-xs-12
              .well
                span.label.label-danger 終了
                .row
                  .col-sm-12.well-heading-pic
                    img.cover(src='image/2014/klis/004.min.png')
                  .col-sm-12
                    .well-body
                      h4 知識情報・図書館学類 学類説明会
                      p 07/23(水曜日) 10:00~ (受付開始 09:00)
                      .text-right
                        a.btn.btn-success(href="2014_sm_klis.html")
                          |詳しくはコチラ
                          i.fa.fa-arrow-circle-right.fa-fw

            .col-md-4.col-sm-6.col-xs-12
              .well
                span.label.label-danger 終了
                .row
                  .col-sm-12.well-heading-pic
                    img.cover(src='image/2014/klis/004.min.png')
                  .col-sm-12
                    .well-body
                      h4 知識情報・図書館学類 学類説明会
                      p 07/23(水曜日) 10:00~ (受付開始 09:00)
                      .text-right
                        a.btn.btn-success(href="2014_sm_klis.html")
                          |詳しくはコチラ
                          i.fa.fa-arrow-circle-right.fa-fw

            .col-md-4.col-sm-6.col-xs-12
              .well
                span.label.label-danger 終了
                .row
                  .col-sm-12.well-heading-pic
                    img.cover(src='image/2014/klis/004.min.png')
                  .col-sm-12
                    .well-body
                      h4 知識情報・図書館学類 学類説明会
                      p 07/23(水曜日) 10:00~ (受付開始 09:00)
                      .text-right
                        a.btn.btn-success(href="2014_sm_klis.html")
                          |詳しくはコチラ
                          i.fa.fa-arrow-circle-right.fa-fw