extends layout/default

block title
  title お問い合わせ | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 お問い合わせ

      .page-body
        .col-sm-8.col-sm-offset-2
          p
            |説明会に関するお問い合わせ、入学試験(AC入試、推薦入試、一般入試)や、入学後の生活に関する質問を受け付けています。
            |お問い合わせ頂いてから、約２週間以内にお返事させて頂きます。
            |お気軽にご連絡下さい。

          p.text-center
            span
              |お問い合せは、
              span
                |klisdaisetsu
                i.fa.fa-at
                |gmail
                span .
                |com
              |までお願いします。

          hr
          .row.photos
            a.col-sm-3.col-xs-4(href='image/2014/klis/001.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/001.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/002.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/002.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/003.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/003.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/004.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/004.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/005.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/005.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/006.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/006.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/007.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/007.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/008.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/008.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/009.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/009.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/010.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/010.min.png')
            a.col-sm-3.col-xs-4(href='image/2014/klis/011.png' data-lightbox="gallery")
              img.cover(src='image/2014/klis/011.min.png')

