extends layout/default

block title
  title 相談コーナー|筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .col-md-12
      h1 相談コーナー

  .container
    .col-md-12.panel.panel-default
      .panel-body
        h2 カテゴリa
        h3 質問
        p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

        h3 質問
        p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

        h3 質問
        p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

    .col-md-12.panel.panel-default
      .panel-body
        h2 カテゴリb
        h3 質問
        p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

        h3 質問
        p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

        h3 質問
        p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。
