extends layout/default

block contents
  h1 相談コーナー

  h2 カテゴリa
  h3 質問
  p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

  h3 質問
  p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

  h3 質問
  p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

  h2 カテゴリb
  h3 質問
  p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

  h3 質問
  p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。

  h3 質問
  p 回答です。回答です。回答です。回答です。回答です。回答です。回答です。
