extends layout/default

block title
  title Q&A | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 Q&A
      .page-body
        .row
          .col-sm-9.col-sm-push-3
            .tab-content
              .tab-pane.active
                .text-center
                  img(src='image/icons/help.png' width='128' height='128')
                p 説明会の相談コーナーで寄せられた質問や、入試や学生生活に関するよくある質問をまとめました。
                p より詳しく知りたい場合や、掲載されていない質問がある場合は、お問い合せにて質問を受け付けています。お気軽にご連絡下さい。

                .text-right
                  a.btn.btn-success(href='contact.html')
                    |お問い合わせ
                    i.fa.fa-arrow-circle-right.fa-fw
              #examination_ac.tab-pane
                h2 AC入試

                h3 AC入試とはどんなものか
                p
                  |パンフレットや
                  a(href='http://ac.tsukuba.ac.jp/examination/ac' target='_blank') Webページ
                  |で概要を紹介。

                h3 どんな研究をすればよいのか
                p
                  |過去の
                  a(href='http://ac.tsukuba.ac.jp/examination/ac/report' target_='_blank') 入学者レポート
                  |を見てもらう。(回答者がAC入試合格者だったので)自分の研究の紹介。

              #examination_candidates.tab-pane
                h2 推薦入試

                h3 推薦入試に向けてどんな勉強をしましたか？
                p.
                  小論文と面接の対策。
                  小論文は英文と日本語文があるので、英語の長文問題集を解いた。
                  小論文対策は早めに始めたほうが良い。
                  面接は、質問されそうなことをすべてノートに書き出し、答えを用意しておく。学校の先生に面接官役をやってもらい練習。

                h3 面接ではどんなことを聞かれましたか？
                p.
                  事前に提出した志願理由書や内申書から質問される。
                  私は地元の図書館事情についての質問が多かった。英語が得意であることをアピールをしたため、英語での自己紹介をした。

                h3 小論文対策はいつから始めましたか？
                p.
                  AC入試の一次審査の結果が出てから始めました。

                h3 小論文対策はどんな風にやりましたか？過去問とかありますか？
                p.
                  国語の先生と英語の先生に問題を用意してもらい、毎日添削指導してもらった。
                  過去問は3年前に同学類を推薦で受けた先輩の資料が学校にあり、参考にした。

                h3 一日何時間くらい勉強しましたか？
                p.
                  放課後、早い日で20時、遅い日で22時まで学校に残って添削指導や面接指導を受けた。帰宅してからは0時〜2時くらいまで勉強した。

                h3 推薦入試を受けるのにやっておいたことがいいことは？
                p.
                  委員会に入る、大会に出る、作品を出すなど、色んなことに積極的に取り組んで行くこと。
                  あと、入学後の目標や展望を語れるようになっておくこと。

                h3 推薦受けたいけど評定が足りないです
                p.
                  甘えるな！知識に来たいなら必死に評点を取りに行け！芸術や体育、家庭科もしっかりと。
                  評定がよければ前期後期で特をすることもあるんですよ、と伝えました。

                h3 推薦の問題ってどんなのですか？
                p.
                  赤本が出ています、ここ(会場)にもあるので目を通してみましょう。英語と小論文ですよ。

                h3 問題難しい？対策は？
                p.
                  すごく難しいと言うことはありません。しかし時間配分には慣れておく必要があります。
                  記述の分量や形式は変わるので慌てないこと。対策としてはとにかく英単語と小論文のスピードをあげましょう。

              #examination_general.tab-pane
                h2 一般入試
                h3 数学が苦手
                p.
                  ２年生のころに二次試験の問題を一度確認し、どんなものが最終目標なのか知っておくと良いです。
                  問題数の割には時間は長いので、落ち着いて問題に取り組みましょう。
                  あきらめずに自身を持てるようになるまで、たくさんの問題に触れることが大切です。

                h3 英語が苦手
                p.
                  長文問題はたくさんの問題を解いて、経験を積むのがオススメです。
                  英作文は非常に単純な日本語を考え、英作文を作り、そこに様々な要素を付け加えていくと良いです。

                h3 理科・社会の二次試験はどうすればいいか
                p.
                  難しい問題もありますが、基礎が出来ていれば解ける問題です。
                  基本となる用語や、全体の流れをきちんと理解して自分の言葉で説明出来るようになりましょう。
                  問題を解いて経験を積むのも良いですが、先に参考書等を一冊読み通すことなどから始めると理解が深まると思います。

                h3 地理はどうやって勉強すれば？？
                p.
                  資料集を読み込んだり、自分で白地図に世界の気象などを書き込んだりしてみると良いです。

                h3 英単語が覚えられない
                p.
                  暗記するのではなく、何回も出てくる単語に慣れる、という気持ちで取り組むと憶えやすいです。

                h3 よい息抜きの方法
                p.
                  自分にあったものを自分で見つけるのが一番です。
                  区切りをつけるときは時間で決めるんじゃなくて勉強なら「この範囲をやりきる」とか
                  休憩なら何かをするとかこれを食べるとかで区切ったほうが良いと(回答者は)思います。

              #examination_transfer.tab-pane
                h2 三年次編入

              #enter_school.tab-pane
                h2 入学後
                h3 道に迷わないか
                p.
                  一年生のうちはキャンパスマップを常に持ち歩かないと授業の教室がどこにあるかはわからないかもしれません。

                h3 他人とコミュニケーションを取れるような場所はあるか
                p.
                  宿舎では学生とたくさんコミュニケーション出来ますよ！

                h3 学生寮で友達はできるか
                p.
                  1年生は大学の寮に入ることも多く、友人はできやすい環境だと思います。
                  一緒にご飯をつくったり、部屋に招きあっている様子をよく見ます。

                h3 アパートに住む人は少ないのか
                p.
                  1年生は寮に住む人も多いですが、アパートに住む人もいます。数万円台で大学の近くにアパートはたくさんあります。

                h3 パソコン触ったことないんですが大丈夫でしょうか
                p.
                  そういう人はたくさんいるけれど、先生や経験のある友達に聞いてなんとか乗り越えているから大丈夫です。

                h3 宿舎ぐらしってどう？
                p.
                  (回答者は)思ってたより快適だった。スチューデントトークで発表する方がいるので聞きに行ってみましょう！

                h3 サークルとか大変じゃないですか？
                p.
                  大変です。でもある程度のお休みや遅刻は許されるし好きなことなので頑張れます。ガチなとことゆるゆるなところの見極めは大事。


                h3 図書館司書の就職が非常に少ないがどういうことか
                p.
                  一般企業への就職し、図書館に関係した仕事をしようとする方も多いです。
                  また、図書館司書としての採用が非常に少ないなか、比較的健闘しているのではないでしょうか。
                  公務員での採用でも、図書館で働く場合もあり、公務員での採用はとても良いです。

                h3 出版社で編集の仕事がしたいが、就職先として可能か
                p.
                  知識情報・図書館学類では、「本」についての学習は可能です。
                  出版社に就職する先輩方もいないわけではありませんが、幅広い進路を考慮に入れていただけると嬉しいです。

                h3 パソコンの扱いに自信がないが、大丈夫か
                p.
                  最初は自信のない人も多いですし、私自身もあまり得意ではなかったのです。
                  ですが、1年生の必修科目「情報基礎実習」では、しっかりとパソコンの使い方を学び、ワード、エクセルなどの勉強ができるので、自信がなくても力がつきます。がんばりましょう！

                h3 テレビディレクターになれるか？？
                p.
                  自分次第でなんにでもなれる　ただし、それなりの努力が必要です。

                h3 図書館にそんなに興味なくても司書に慣れるか？？
                p.
                  努力次第です！

                h3 「人の記憶と教科の出来・不出来」について研究できるか？？
                p.
                  学生の研究を支援する取り組みもあります。また卒業研究でも可能かもしれません！

                h3 教職について
                p.
                  教員を目指しているのであれば、教職免許を取得する必要があります。

                h3 宅通の利点は？欠点は？
                p.
                  住み慣れたお家で快適な衣食住。病気になっても安心、ホームシックにもかかりません。しかし遠いと朝が辛かったり筑波独特の一体感に入れなかったりすることはあります。あなた次第です。


              #other.tab-pane
                h2 その他
                h3 どうしてこの学類に入ろうとおもったんですか
                p.
                  司書になりたかった。経済的に国公立大しか選べなかった。本だけではなくコンピュータにも興味があった。から

          .col-sm-3.col-sm-pull-9
            ul.list-group(class='nav nav-tabs')
              a.list-group-item(href='#examination_ac' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |AC入試
              a.list-group-item(href='#examination_candidates' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |推薦入試
              a.list-group-item(href='#examination_general' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |一般入試
              //- a.list-group-item(href='#examination_transfer' data-toggle='tab')
              //-   i.fa.fa-arrow-circle-right.fa-fw
              //-   |三年次編入
              a.list-group-item(href='#enter_school' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |入学後
              //- a.list-group-item(href='#other' data-toggle='tab')
              //-   i.fa.fa-arrow-circle-right.fa-fw
              //-   |その他
