extends layout/default

//- block title
//-   title 

block contents
  .jumbotron
    .container
      p 筑波大学 情報学群
      h1 知識情報・図書館学類
      p 学類説明会 Webサイト
    .container.jumbotron_footer
      p
        span.label.label-primary お知らせ
        |2015年xx月xx日に、
        a() hogehogehoge
        |を開催します

  .container
    .row
      .col-sm-6.col-sm-push-3
        .tab-content
          #hoge.tab-pane.active
            h2 説明会について
            p
              |説明会と実行委員の紹介ページです。
              span.line_marker 過去に開催された説明会
              |の写真や動画もご覧いただけます。
            .text-right
              a.btn.btn-success(href='about.html')
                |詳しく見る
                i.fa.fa-arrow-circle-right.fa-fw

            hr
            h2 Q&A
            p
              |説明会の企画の１つである、
              span.line_marker 相談コーナー
              |で寄せられた入試に関する質問や、入学後の生活に関することなど、よくある質問をご紹介します。
            .text-right
              a.btn.btn-success(href='fqa.html')
                |詳しく見る
                i.fa.fa-arrow-circle-right.fa-fw

            hr
            h2 マップ
            p
              |キャンパスにお越しいただく際のアクセス方法と、キャンパス内の地図を紹介します。
            .text-right
              a.btn.btn-success(href='maps.html')
                |詳しく見る
                i.fa.fa-arrow-circle-right.fa-fw
            
            hr
            h2 リンク
            p
              |大学や学類、学生組織などのWebサイトをご紹介します。
            .text-right
              a.btn.btn-success(href='links.html')
                |詳しく見る
                i.fa.fa-arrow-circle-right.fa-fw

      .col-sm-3.col-sm-pull-6
        ul.list-group(class='nav nav-tabs')
          a.list-group-item(href='about.html')
            i.fa.fa-arrow-circle-right.fa-fw
            |説明会について
          a.list-group-item(href='fqa.html')
            i.fa.fa-arrow-circle-right.fa-fw
            |Q&A
          a.list-group-item(href='maps.html')
            i.fa.fa-arrow-circle-right.fa-fw
            |マップ
          a.list-group-item(href='links.html')
            i.fa.fa-arrow-circle-right.fa-fw
            |リンク

      .col-sm-3
        .well
          .text-center
            p 動画
            i.fa.fa-play.fa-fw.fa-2x
            hr
            p hogehoge

        .well
          .text-center
            p 動画
            i.fa.fa-play.fa-fw.fa-2x
            hr
            p hogehoge


  //- .container
  //-   h2 説明会について
  //-   hr
  //-   .row
  //-     .col-sm-4
  //-       .well
  //-         span.label.label-danger 終了
  //-         .row
  //-           .col-sm-12.well-heading-pic
  //-             img.cover(src='image/2014/klis/004.png')
  //-           .col-sm-12
  //-             .well-body
  //-               h4 知識情報・図書館学類 学類説明会
  //-               p 07/23(水曜日) 10:00~ (受付開始 09:00)
  //-               .text-right
  //-                 a.btn.btn-success(href="2014_sm_klis.html") 詳しくはコチラ

  //-     .col-sm-4
  //-       .well
  //-         span.label.label-danger 終了
  //-         .row
  //-           .col-sm-12.well-heading-pic
  //-             img.cover(src='image/2014/klis/004.png')
  //-           .col-sm-12
  //-             .well-body
  //-               h4 知識情報・図書館学類 学類説明会
  //-               p 07/23(水曜日) 10:00~ (受付開始 09:00)
  //-               .text-right
  //-                 a.btn.btn-success(href="2014_sm_klis.html") 詳しくはコチラ

  //-     .col-sm-4
  //-       .well
  //-         span.label.label-danger 終了
  //-         .row
  //-           .col-sm-12.well-heading-pic
  //-             img.cover(src='image/2014/klis/004.png')
  //-           .col-sm-12
  //-             .well-body
  //-               h4 知識情報・図書館学類 学類説明会
  //-               p 07/23(水曜日) 10:00~ (受付開始 09:00)
  //-               .text-right
  //-                 a.btn.btn-success(href="2014_sm_klis.html") 詳しくはコチラ

  //-   h2 企画紹介
  //-   hr
  //-   .row
  //-     .col-sm-4
  //-       .well
  //-         .row
  //-           .col-sm-12
  //-             .well-body
  //-               h4 知識情報・図書館学類 学類説明会
  //-               p 07/23(水曜日) 10:00~ (受付開始 09:00)
  //-               .text-right
  //-                 a.btn.btn-success(href="2014_sm_klis.html") 詳しくはコチラ

  //-     .col-sm-4
  //-       .well
  //-         .row
  //-           .col-sm-12
  //-             .well-body
  //-               h4 知識情報・図書館学類 学類説明会
  //-               p 07/23(水曜日) 10:00~ (受付開始 09:00)
  //-               .text-right
  //-                 a.btn.btn-success(href="2014_sm_klis.html") 詳しくはコチラ

  //-     .col-sm-4
  //-       .well
  //-         .row
  //-           .col-sm-12
  //-             .well-body
  //-               h4 知識情報・図書館学類 学類説明会
  //-               p 07/23(水曜日) 10:00~ (受付開始 09:00)
  //-               .text-right
  //-                 a.btn.btn-success(href="2014_sm_klis.html") 詳しくはコチラ

    //- .col-xs-12
    //-   h2 イベント紹介
    //-   .row
    //-     .col-md-4.col-sm-6
    //-       .thumbnail
    //-         h3 
    //-           |2014年
    //-           br
    //-           |知識情報・図書館学類
    //-           br
    //-           |学類説明会
    //-         .caption
    //-           h4 07/23(水曜日) 10:00~ (受付開始 09:00)
    //-           p 当学類が主催する学類説明会です。当学類について詳しく知りたい方はぜひご参加下さい！
    //-         .thumbnail-footer
    //-           a(href="2014.html#klis" class="btn btn-success" role="button") 詳しくはコチラ
    //-           a(href="http://klis.tsukuba.ac.jp/OpenCampus2014.html" class="btn btn-link" target="_brank") 学類WEB

    //-     .col-md-4.col-sm-6
    //-       .thumbnail
    //-         h3 
    //-           |平成26年度
    //-           br
    //-           |受験生のための
    //-           br
    //-           |筑波大学説明会
    //-         .caption
    //-           h4 08/23(水曜日) 10:00~
    //-           p 筑波大学が主催する大学説明会です。各学類の特色や詳細が知りたい方はコチラもご参加下さい！
    //-         .thumbnail-footer
    //-           a(href="2014.html#itf" class="btn btn-success" role="button") 詳しくはコチラ
    //-           a(href="http://www.tsukuba.ac.jp/admission/opencampus/" class="btn btn-link" target="_brank") 大学WEB

    //-     .col-md-4.col-sm-6
    //-       .thumbnail.thumbnail-comingsoon
    //-         .caption
    //-           p Coming Soon...


    //- .col-xs-12
    //-   h2 企画紹介
    //-   .row
    //-     .col-md-4.col-xs-6
    //-       .panel.panel-default
    //-         .panel-body
    //-           h3 パネルディスカッション
    //-           p 学生が入試体験談のプレゼンテーションを行います。

    //-     .col-md-4.col-xs-6
    //-       .panel.panel-default
    //-         .panel-body
    //-           h3 スチューデント・トーク
    //-           p 学生生活について、ディープな話をゆるーくプレゼンします。

    //-     .col-md-4.col-xs-6
    //-       .panel.panel-default
    //-         .panel-body
    //-           h3 研究室公開
    //-           p 大学のゼミとはどういう雰囲気なのか、どのようなことをするのかなど、実際に見学していただけます。

    //-     .col-md-4.col-xs-6
    //-       .panel.panel-default
    //-         .panel-body
    //-           h3 授業見学
    //-           p 当日、学生が実際に受けている授業を見学していただけます。高校までとは違う講義の雰囲気を体感してください。

    //-     .col-md-4.col-xs-6
    //-       .panel.panel-default
    //-         .panel-body
    //-           h3 相談コーナー
    //-           p AC入試から３年次編入まで、さまざまな学生があらゆる相談に答えます。 受験生活、学生生活、何でもお聞きください。 

    //-     .col-md-4.col-xs-6
    //-       .panel.panel-default
    //-         .panel-body
    //-           p その他の企画や各企画の詳細は、企画紹介ページをご参照下さい
    //-         .panel-footer
    //-           a(href='program.html' class="btn btn-success") 企画紹介ページ


    //- .col-xs-12
    //-   h2 過去の説明会
    //-   .row
    //-     .col-xs-12
    //-       .panel.panel-default
    //-         .panel-body
    //-           p 過去の説明会を紹介します。(後日掲載予定)