extends layout/default

//- block title
//-   title 

block contents

  .container
    .row
      h2 イベント紹介
      .col-sm-6.col-md-4
        .thumbnail
          h3 
            |2014年
            br
            |知識情報・図書館学類
            br
            |学類説明会
          .caption
            h4 07/23(水曜日) 10:00~
            p 当学類が主催する学類説明会です。当学類について詳しく知りたい方はぜひご参加下さい！
          .thumbnail-footer
            a(href="#" class="btn btn-success" role="button") 詳しくはコチラ
            a(href="#" class="btn btn-link" role="button") 学類Web

      .col-sm-6.col-md-4
        .thumbnail
          h3 
            |平成26年度
            br
            |受験生のための
            br
            |筑波大学説明会
          .caption
            h4 08/23(水曜日) 10:00~
            p 筑波大学が主催する大学説明会です。各学類の特色や詳細が知りたい方はコチラもご参加下さい！
          .thumbnail-footer
            a(href="#" class="btn btn-success" role="button") 詳しくはコチラ
            a(href="#" class="btn btn-link" role="button") 大学Web

      .col-sm-6.col-md-4
        .thumbnail.thumbnail-comingsoon
          .caption
            h2 Coming Soon...


    .row
      h2 企画紹介
      .col-md-4.col-xs-6
        .panel.panel-default
          .panel-body
            h3 パネルディスカッション
            p 学生が入試体験談のプレゼンテーションを行います。

      .col-md-4.col-xs-6
        .panel.panel-default
          .panel-body
            h3 スチューデントトーク
            p 学生生活について、ディープな話をゆるーくプレゼンします。

      .col-md-4.col-xs-6
        .panel.panel-default
          .panel-body
            h3 ゼミ見学
            p 大学のゼミとはどういう雰囲気なのか、実際に見学していただけます。

      .col-md-4.col-xs-6
        .panel.panel-default
          .panel-body
            h3 公開授業
            p 当日、学生が実際に受けている授業を見学していただけます。高校までとは違う講義の雰囲気を体感してください。

      .col-md-4.col-xs-6
        .panel.panel-default
          .panel-body
            h3 相談コーナー
            p AC入試から３年次編入まで、さまざまな学生があらゆる相談に答えます。 受験生活、学生生活、何でもお聞きください。 雑談が目的でも構いません。

      .col-md-4.col-xs-6
        .panel.panel-default
          .panel-body
            p 各企画の詳細は、企画紹介ページをご参照下さい
          .panel-footer
            a(href='program.html' class="btn btn-success") 企画紹介ページ


    .row
      h2 過去の説明会

      .panel.panel-default
        .panel-body
          p 過去の説明会を紹介します。(後日掲載予定)