extends layout/default

//- block title
//-   title 

block contents
  .jumbotron
    .container
      p 筑波大学 情報学群
      h1 知識情報・図書館学類
      p 学類説明会 Webサイト
    .container.jumbotron_footer
      p
        span.label.label-primary お知らせ
        |2014年08月23日に、
        a(href='2014_sm_klis.html') 平成26年度 知識情報・図書館学類 説明会
        |を開催しました

  .container
    .row
      .col-sm-9.col-sm-push-3
        .tab-content
          #hoge.tab-pane.active
            h2 説明会について
            p
              |知識情報・図書館学類では、筑波大学全体で開催される
              span.line 受験生のための筑波大学説明会
              |とは別に、知識情報・図書館学類のみで
              span.line 知識情報･図書館学類 学類説明会
              |を開催しています。
              |知識情報･図書館学類 学類説明会は、授業期間中に開催されるため、授業の見学や研究室の公開といった企画が実施されることが特徴です。
            p
              |また、教育課程や入学試験の説明、学生によるパネルディスカッションや相談コーナーなどの企画を、受験生のための筑波大学説明会と知識情報･図書館学類 学類説明会の両方で実施しています。
              |知識情報・図書館学類について詳しく知りたい方は知識情報･図書館学類 学類説明会、他学類についても知りたい方は受験生のための筑波大学説明会への参加をおすすめします。
            p
              |このWebサイトでは、
              span.line これまでの説明会
              |の写真や動画を掲載しています。
              |説明会の様子や雰囲気を知ることが出来ます。
            .text-right
              a.btn.btn-success(href='open_campuses.html')
                |詳しく見る
                i.fa.fa-arrow-circle-right.fa-fw

            hr
            h2 実行委員について
            p
              |筑波大学 情報学群 知識情報・図書館学類 学類説明会委員会では、
              span.line 受験生のための筑波大学説明会
              |や
              span.line 知識情報･図書館学類 学類説明会
              |で実施する各企画の立案・準備や、当日の運営･進行を行っております。また、このWebサイトの設置・運営も実行委員が行っております。

            hr
            h2 Q&A
            p
              |説明会の企画の１つである、
              span.line_marker 相談コーナー
              |で寄せられた入試に関する質問や、入学後の生活に関することなど、よくある質問をご紹介します。
            .text-right
              a.btn.btn-success(href='fqa.html')
                |詳しく見る
                i.fa.fa-arrow-circle-right.fa-fw

            hr
            h2 マップ
            p
              |キャンパスにお越しいただく際のアクセス方法と、キャンパス内の地図を紹介します。
            .text-right
              a.btn.btn-success(href='maps.html')
                |詳しく見る
                i.fa.fa-arrow-circle-right.fa-fw
            
            hr
            h2 リンク
            p
              |大学や学類、学生組織などのWebサイトをご紹介します。
            .text-right
              a.btn.btn-success(href='links.html')
                |詳しく見る
                i.fa.fa-arrow-circle-right.fa-fw

      .col-sm-3.col-sm-pull-9
        ul.list-group(class='nav nav-tabs')
          a.list-group-item(href='open_campuses.html')
            i.fa.fa-arrow-circle-right.fa-fw
            |説明会について
          a.list-group-item(href='fqa.html')
            i.fa.fa-arrow-circle-right.fa-fw
            |Q&A
          a.list-group-item(href='maps.html')
            i.fa.fa-arrow-circle-right.fa-fw
            |マップ
          a.list-group-item(href='links.html')
            i.fa.fa-arrow-circle-right.fa-fw
            |リンク

        .well.video
          .text-center
            p 平成26年度 知識情報・図書館学類 説明会
          iframe(src="//www.youtube.com/embed/HpXjfxSDSYg?list=UU8OdyVduj0WZ8YjDqIHVm6w" frameborder="0" allowfullscreen)

        .well.video
          .text-center
            p 平成26年度 知識情報・図書館学類 説明会
          iframe(src="//www.youtube.com/embed/lBDwz-6sfug?list=UU8OdyVduj0WZ8YjDqIHVm6w" frameborder="0" allowfullscreen)