extends layout/default

//- block title
//-   title 

block contents
  h1 日程

  .container
    .col-md-12.well
      h2 2014年 知識情報・図書館学類 学類説明会
      a(href = "http://klis.tsukuba.ac.jp/OpenCampus14.html") (公式HPはこちら)
      ul 
        li 日時： 2014年7月23日（水）
        li
          |場所：筑波大学 春日エリア
          a(href = "http://klis.tsukuba.ac.jp/access2.html") (アクセス情報)
        li
          a(href = "http://www.tsukuba.ac.jp/admission/opencampus/") (学類HP)

      h2 受験生のための筑波大学説明会
      a(href = "http://www.tsukuba.ac.jp/admission/opencampus/") (公式HPはこちら)
      ul 
        li 日時： 2014年 08月 23日（土）
        li
          |場所：筑波大学 春日エリア
          a(href = "http://klis.tsukuba.ac.jp/access2.html") (アクセス情報)


  h1 企画紹介

  h2 学類長挨拶・教育課程と入試の説明
  p 長谷川秀彦学類長と宇陀則彦准教授が、学類の欲しい人物像や入試、カリキュラムについてご説明します。

  h2 コント
  p 宇陀則彦准教授（演出・監督）による知識情報・図書館学類新喜劇です。学類のあれこれをコント形式でお伝えします。

  h2 パネルディスカッション
  p 学生が入試体験談のプレゼンテーションを行います。

  h2 相談コーナー
  p AC入試から３年次編入まで、さまざまな学生があらゆる相談に答えます。 受験生活、学生生活、何でもお聞きください。 雑談が目的でも構いません。お気軽にお立ち寄りください。

  h2 放映展示
  p 講義の成果物や研究室の紹介動画などを展示します。

  h2 ゼミ見学
  p 大学のゼミとはどういう雰囲気なのか、実際に見学していただけます。

  h2 スチューデントトーク
  p 学生生活について、ディープな話をゆるーくプレゼンします。

  h2 キャンパスツアー
  p 知識情報・図書館学類の学生が主に利用する春日エリアをご案内します。

  h2 公開授業
  p 当日、学生が実際に受けている授業を見学していただけます。高校までとは違う講義の雰囲気を体感してください。

  h2 図書館見学
  p 当日は終日、図書館情報学図書館を見学していただけます。キャンパスツアーでもまわりますので、じっくり見たくなったらご自由にお入りください。