extends layout/default

block title
  title リンク集 | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 リンク集

      .page-body
        .row
          .col-sm-6
            .page-header
              h2
                a(href='#') なんちゃらのwebサイト
            .page-body
              p ほげほげなwebサイトです
          .col-sm-6
            .page-header
              h2
                a(href='#') なんちゃらのwebサイト
            .page-body
              p ほげほげなwebサイトです
          .col-sm-6
            .page-header
              h2
                a(href='#') なんちゃらのwebサイト
            .page-body
              p ほげほげなwebサイトです
          .col-sm-6
            .page-header
              h2
                a(href='#') なんちゃらのwebサイト
            .page-body
              p ほげほげなwebサイトです
          .col-sm-6
            .page-header
              h2
                a(href='#') なんちゃらのwebサイト
            .page-body
              p ほげほげなwebサイトです
          .col-sm-6
            .page-header
              h2
                a(href='#') なんちゃらのwebサイト
            .page-body
              p ほげほげなwebサイトです