extends layout/default

block title
  title リンク | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 リンク

      .page-body
        .page-header
          h2 カテゴリ
        .page-body
          .row
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです

        .page-header
          h2 カテゴリ
        .page-body
          .row
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです
            .col-sm-6
              .page-header
                h3
                  a(href='#') なんちゃらのwebサイト
              .page-body
                p ほげほげなwebサイトです