extends layout/default

block title
  title 説明会について | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  //- .header
  //-   nav.navbar.navbar-default.navbar-sub(role="navigation")
  //-     .container
  //-       .collapse.navbar-collapse
  //-         ul.nav.navbar-nav
  //-           li
  //-             a(href='#2015')
  //-               i.fa.fa-angle-right.fa-fw
  //-               |2015年度
  //-           li
  //-             a(href='#2014')
  //-               i.fa.fa-angle-right.fa-fw
  //-               |2014年度
  //-           li
  //-             a(href='#2013')
  //-               i.fa.fa-angle-right.fa-fw
  //-               |2013年度

  .container
    h1 説明会について
    hr
    h2 2015年度
    .text-center
      p.lead
        span.label.label-primary 春の進学説明会
        |の情報を近日公開予定です

    hr
    h2#2014 2014年度
    .row
      .col-xs-12
        .col-sm-6
          .col-xs-4
            .img-circle(style="background-image: url(/image/2014/klis/004.min.png)")
          .col-xs-8
            h4 知識情報・図書館学類 学類説明会
            p
              |07/23(水曜日) 10:00~ ※受付開始 09:00
            .text-right
              a.btn.btn-sm.btn-success(href="2014_sm_klis.html")
                |詳しくはコチラ
                i.fa.fa-arrow-circle-right.fa-fw
        .col-sm-6
          .col-xs-4
            .img-circle(style="background-image: url(/image/2014/klis/005.min.png)")
          .col-xs-8
            h4 受験生のための筑波大学説明会
            p
              |8/23(土曜日) 10:00~ ※受付開始 09:00
            .text-right
              a.btn.btn-sm.btn-success(href="2014_sm_itf.html")
                |詳しくはコチラ
                i.fa.fa-arrow-circle-right.fa-fw
        .col-sm-6
          .col-xs-4
            .img-circle(style="background-image: url(/image/2014/klis/006.min.png)")
          .col-xs-8
            h4 筑波大学　春の進学説明会
            p
              |3月28日(金曜日）10:00～16:30
            //- .text-right
            //-   a.btn.btn-sm.btn-success(href="2014_sm_klis.html")
            //-     |詳しくはコチラ
            //-     i.fa.fa-arrow-circle-right.fa-fw

    hr
    h2 2013年度
    .text-center
      p.lead
        |近日公開予定です





    //- .page
    //-   .page-header
    //-     h1 説明会について

    //-   .page-body
    //-     h2#2015 2015年度
    //-     .text-center
    //-       p.lead
    //-         span.label.label-primary 春の進学説明会
    //-         |の情報を近日公開予定です


    //-     hr
    //-     h2#2014 2014年度
    //-     .row
    //-       .col-sm-6.col-xs-12
    //-         .well
    //-           span.label.label-danger 終了
    //-           .row
    //-             .col-sm-12.well-heading-pic
    //-               img.cover(src='image/2014/klis/004.min.png')
    //-             .col-sm-12
    //-               .well-body
    //-                 h4 知識情報・図書館学類 学類説明会
    //-                 p
    //-                   |07/23(水曜日) 10:00~
    //-                   br
    //-                   |※受付開始 09:00
    //-                 .text-right
    //-                   a.btn.btn-sm.btn-success(href="2014_sm_klis.html")
    //-                     |詳しくはコチラ
    //-                     i.fa.fa-arrow-circle-right.fa-fw

    //-       .col-sm-6.col-xs-12
    //-         .well
    //-           span.label.label-danger 終了
    //-           .row
    //-             .col-sm-12.well-heading-pic
    //-               img.cover(src='image/2014/itf/1.min.png')
    //-             .col-sm-12
    //-               .well-body
    //-                 h4 受験生のための筑波大学説明会
    //-                 p
    //-                   |8/23(土曜日) 10:00~
    //-                   br
    //-                   |※受付開始 09:00
    //-                 .text-right
    //-                   a.btn.btn-sm.btn-success(href="2014_sm_itf.html")
    //-                     |詳しくはコチラ
    //-                     i.fa.fa-arrow-circle-right.fa-fw

    //-     hr
    //-     h2#2013 2013年度
    //-     .text-center
    //-       p.lead
    //-         |近日公開予定です
//- .row
//-   .col-sm-6.col-xs-12
//-     .well
//-       span.label.label-danger 終了
//-       .row
//-         .col-sm-12.well-heading-pic
//-           img.cover(src='image/2014/klis/004.min.png')
//-         .col-sm-12
//-           .well-body
//-             h4 知識情報・図書館学類 学類説明会
//-             p
//-               |07/23(水曜日) 10:00~
//-               br
//-               |※受付開始 09:00
//-             .text-right
//-               a.btn.btn-sm.btn-success(href="2014_sm_klis.html")
//-                 |詳しくはコチラ
//-                 i.fa.fa-arrow-circle-right.fa-fw

  .col-sm-6.col-xs-12
    .well
      span.label.label-danger 終了
      .row
        .col-sm-12.well-heading-pic
          img.cover(src='image/2014/itf/1.min.png')
        .col-sm-12
          .well-body
            h4 受験生のための筑波大学説明会
            p
              |8/23(土曜日) 10:00~
              br
              |※受付開始 09:00
            .text-right
              a.btn.btn-sm.btn-success(href="2014_sm_itf.html")
                |詳しくはコチラ
                i.fa.fa-arrow-circle-right.fa-fw

  //-         .col-sm-3.col-sm-pull-9
  //-           ul.list-group(class='nav nav-tabs')
  //-             a.list-group-item(href='#2015')
  //-               i.fa.fa-arrow-circle-right.fa-fw
  //-               |2015年度
  //-             a.list-group-item(href='#2014')
  //-               i.fa.fa-arrow-circle-right.fa-fw
  //-               |2014年度
  //-             a.list-group-item(href='#2013')
  //-               i.fa.fa-arrow-circle-right.fa-fw
  //-               |2013年度