extends layout/default

block title
  title 企画紹介 | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .col-md-12
      h1 企画紹介

    .col-md-6
      .panel.panel-default.panel-program.panel-program
        .panel-body
          h2 学類長挨拶，教育課程・入試の説明
          p 長谷川秀彦学類長と宇陀則彦准教授が、学類の欲しい人物像や入試、カリキュラムについてご説明します。

    .col-md-6
      .panel.panel-default.panel-program
        .panel-body
          h2 授業見学
          p 当日、学生が実際に受けている授業を見学していただけます。高校までとは違う講義の雰囲気を体感してください。


    .col-md-6
      .panel.panel-default.panel-program
        .panel-body
          h2 学類紹介
          p 本学類の紹介を在学生や教員が劇により行います。

    .col-md-6
      .panel.panel-default.panel-program
        .panel-body
          h2 パネルディスカッション
          p 学生が入試体験談のプレゼンテーションを行います。

    .col-md-6
      .panel.panel-default.panel-program
        .panel-body
          h2 相談コーナー
          p
            |AC入試から３年次編入まで、さまざまな学生があらゆる相談に答えます。 受験生活、学生生活、何でもお聞きください。 雑談が目的でも構いません。
            |過去の質問は(
            a(href="consultation.html") コチラ
            |)!

    .col-md-6
      .panel.panel-default.panel-program
        .panel-body
          h2 図書館見学
          p 当日は終日、図書館情報学図書館を見学していただけます。キャンパスツアーでもまわりますので、じっくり見たくなったらご自由にお入りください。

    .col-md-6
      .panel.panel-default.panel-program
        .panel-body
          h2 放映展示
          p 講義の成果物や研究室の紹介動画などを展示します。

    .col-md-6
      .panel.panel-default.panel-program
        .panel-body
          h2 研究室公開
          p 大学のゼミとはどういう雰囲気なのか、どのようなことをするのかなど、実際に見学していただけます。

    .col-md-6
      .panel.panel-default.panel-program
        .panel-body
          h2 スチューデント・トーク
          p 学生生活について、ディープな話をゆるーくプレゼンします。

    .col-md-6
      .panel.panel-default.panel-program
        .panel-body
          h2 キャンパスツアー
          p 知識情報・図書館学類の学生が主に利用する春日エリアをご案内します。