extends layout/default

block title
  title サイトマップ | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 サイトマップ

      .page-body
        ul
          li
            a(href='index.html') Top
          li
            a(href='open_campuses.html') 説明会について
            ul
              li
                a(href='open_campuses.html#2015') 2015年度
              li
                a(href='open_campuses.html#2014') 2014年度
              li
                a(href='open_campuses.html#2013') 2013年度
          li
            a(href='fqa.html') Q&A
          li
            a(href='maps.html') マップ
          li
            a(href='links.html') リンク
          li
            a(href='contact.html') お問い合わせ
          li
            a(href='sitemap.html') サイトマップ