extends layout/default

block title
  title サイトマップ | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 サイトマップ

      .page-body
        ul
          li
            a 説明会について
            ul
              li
                a 実行委員会の紹介
              li
                a 説明会の紹介
                ul
                  li
                    a 2014年度
                  li
                    a 2013年度
          li
            a 企画紹介
            ul
              li
                a パネルディスカッション
              li
                a 相談コーナー
              li
                a スチューデントトーク
              li
                a ...
          li
            a 用語集
            ul
              li
                a 単位について
              li
                a 司書について
              li
                a ...
          li
            a マップ
            ul
              li
                a キャンパス内
              li
                a キャンパス外
                ul
                  li
                    a つくば駅へのアクセス
                  li
                    a つくば駅からキャンパスへのアクセス
          li
            a リンク
            ul
              li
                a 筑波大学
              li
                a 筑波大学 大学説明会
              li
                a 筑波大学 情報学群 知識情報・図書館学類
              li
                a 筑波大学 附属図書館
              li
                a 筑波大学 春日新歓
              li
                a OCW
              li
                a ...
          li
            a お問い合わせ
          li
            a サイトマップ