extends layout/default

block title
  title サイトマップ | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 サイトマップ

      .page-body
        ul
          li
            a 説明会について
            ul
              li
                a 実行委員会の紹介
              li
                a 説明会の紹介
              li
                a 2014年度
          li
            a Q&A
          li
            a マップ
            ul
              li
                a キャンパス内
              li
                a キャンパス外
          li
            a リンク
            ul
              li
                a 筑波大学
              li
                a 筑波大学 大学説明会
              li
                a 筑波大学 情報学群 知識情報・図書館学類
              li
                a 筑波大学 附属図書館
              li
                a 筑波大学 春日新歓
          li
            a お問い合わせ
          li
            a サイトマップ