.footer.row
  .container
    .row
      .col-sm-6.text-left
        p
          a(href='/') Top
          span |
          a(href='sitemap.html') サイトマップ
          span |
          a(href='contact.html') お問い合わせ
      .col-sm-6.text-right
        p &copy; 知識情報・図書館学類 大学説明会実行委員会