.footer.row
  .container
    .row
      .col-sm-6.text-left
        p
          a(href='/') Top
          ||
          a(href='sitemap.html') サイトマップ
          ||
          a(href='contact.html') お問い合わせ
      .col-sm-6.text-right
        p Copyright &copy; 知識情報・図書館学類 学類説明会委員会