.footer.row
  .container
    .col-sm-6.text-left
      .row
        p
          a(href='/') Top
          span |
          a(href='sitemap.html') サイトマップ
          span |
          a(href='contact.html') お問い合わせ
    .col-sm-6.text-right
      .row
        p &copy; 知識情報・図書館学類 大学説明会実行委員会