.header
  nav.navbar.navbar-inverse.navbar-klis(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
          span.sr-only Toggle Navigation
          - for i in [,,,]
            span.icon-bar
        a.navbar-brand(href='index.html')
          span 学類
          |&nbsp;説明会

      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='open_campuses.html')
              i.fa.fa-angle-right.fa-fw
              |説明会について
          li
            a(href='fqa.html')
              i.fa.fa-angle-right.fa-fw
              |Q&A
          li
            a(href='maps.html')
              i.fa.fa-angle-right.fa-fw
              |マップ
          li
            a(href='links.html')
              i.fa.fa-angle-right.fa-fw
              |リンク