.header
  nav.navbar.navbar-inverse.navbar-klis(role="navigation")
    .container
      .navbar-header
        button.navbar-toggle(type="button", data-toggle="collapse", data-target="#navbar-collapse")
          span.sr-only Toggle Navigation
          - for i in [,,,]
            span.icon-bar
        a.brand(href='index.html')
          img(src='image/title.png', width='142', height='50')

      #navbar-collapse.collapse.navbar-collapse
        ul.nav.navbar-nav
          li
            a(href='about.html') 説明会について
          li
            a(href='fqa.html') Q&A
          li
            a(href='maps.html') マップ
          li
            a(href='links.html') リンク