#menu.row
  .container
    .col-sm-2
      a(href='index.html') Topページ
    .col-sm-2
      a(href='consultation.html') 相談コーナー
    .col-sm-2
      a(href='2014.html') 2014年度
    .col-sm-2
      a(href='program.html') 企画紹介
  hr