meta(charset= 'UTF-8')
meta(name= 'google-site-verification' content= 'zmEpCwCIfu5SldK6EI1XWM1jokoncgxAxxD0SHMEU8E')
meta(content= 'width=device-width, initial-scale=1.0', name= 'viewport')
meta(content= '筑波大学, 情報学群, 知識情報・図書館学類, 図書館メディア研究科, つくば, 筑波, 春日, 大学説明会, オープンキャンパス, 学類説明会, 説明会, 入学試験, 前期入試, 推薦入試, 後期入試, AC入試, 相談コーナー, スチューデントトーク, パネルディスカッション', property= 'keywords')
meta(content= '筑波大学 情報学群 知識情報・図書館学類 学類説明会', property= 'og:title')
meta(content= 'website', property= 'og:type')
meta(content= '', property= 'og:description')
meta(content= 'http://www.klis.tsukuba.ac.jp/klis_students', property= 'og:url')
meta(content= '筑波大学 情報学群 知識情報・図書館学類 学類説明会', property= 'og:site_name')