doctype
html
  head
    title 筑波大学 知識情報・図書館学類 学類説明会
    meta(charset= 'UTF-8')
    meta(content= 'width=device-width, initial-scale=1.0', name= 'viewport')
    meta(content= '筑波大学, 情報学群, 知識情報・図書館学類, 図書館メディア研究科, 春日, 大学説明会, オープンキャンパス', property= 'keywords')
    meta(content= '筑波大学 情報学群 知識情報・図書館学類 学類説明会', property= 'og:title')
    meta(content= 'website', property= 'og:type')
    meta(content= '', property= 'og:description')
    meta(content= '', property= 'og:url')
    meta(content= '筑波大学 情報学群 知識情報・図書館学類 学類説明会', property= 'og:site_name')

    //- link(href='image/favicon.ico', rel='shortcut icon')
    //- link(href='image/webclip.png', rel='apple-touch-icon')
    //- script(src='lib/jquery/js/jquery.min.js')
    //- link(href='style/style.css', rel='stylesheet')

  body
    include ../template/header
    
    block contents

    include ../template/footer