doctype
html
  head
    block title
      title 筑波大学 知識情報・図書館学類 学類説明会

    include ../template/meta
    include ../template/asset

    block asset

  body
    include ../template/header
    include ../template/menu

    block contents

    include ../template/footer