- content_for(:title, "top")

%span ----------

/ ----------------------------------
/ ■2014年　3年次編入説明会（大学公式HPはこちら）
/ 日　時：  2014年 4月26日（土）13:30-15:00
/ 場　所：  筑波大学 春日エリア（アクセス情報）
/ ※予約が必要です

/ ■2014年 知識情報・図書館学類　学類説明会（大学公式HPはこちら）
/ 日時： 2014年7月23日（水）
/ 場所： 筑波大学 春日エリア（アクセス情報）
/ --------------------------------------
/ としていただいて、
/ それぞれの「大学公式HPはこちら」のところにリンクで
/ 3編説明会：http://klis.tsukuba.ac.jp/3hen2014.html
/ 夏の大説：http://klis.tsukuba.ac.jp/OpenCampus14.html
/ また、「アクセス情報」のところにhttp://klis.tsukuba.ac.jp/access2.htmlを張っていただけたらいいんじゃないかと思います

/ あとは更新日時をお願いします。