- content_for(:title, "筑波大学 知識情報・図書館学類 大学説明会")

#header.row
  .container
    %h1 
      筑波大学 情報学群
      %br
      知識情報・図書館学類
      .small 学類説明会

.row
  .container
    %p.lead.text-center 今後の予定
    .col-md-12.well
      %h2 2014年 3年次編入説明会
      %a(href = "http://klis.tsukuba.ac.jp/3hen2014.html")（大学公式HPはこちら）
      %ul
        %li 日時：2014年 4月26日（土）13:30-15:00
        %li
          場所：筑波大学 春日エリア
          %a(href = "http://klis.tsukuba.ac.jp/access2.html")（アクセス情報）
      %p ※予約が必要です

  .container
    .col-md-12.well
      %h2 2014年 知識情報・図書館学類 学類説明会
      %a(href = "http://klis.tsukuba.ac.jp/OpenCampus14.html")（大学公式HPはこちら）
      %ul 
        %li 日時： 2014年7月23日（水）
        %li
          場所：筑波大学 春日エリア
          %a(href = "http://klis.tsukuba.ac.jp/access2.html")（アクセス情報）

.row
  .container
    %p.lead.text-center リンク
    .col-md-12.well
      %ul
        %li
          %a(href="http://www.tsukuba.ac.jp/" target="_brank") 筑波大学
        %li
          %a(href="http://inf.tsukuba.ac.jp/" target="_brank")筑波大学 情報学群
        %li
          %a(href="http://klis.tsukuba.ac.jp/" target="_brank")筑波大学 情報学群 知識情報・図書館学類
        %li
          %a(href="http://www.slis.tsukuba.ac.jp/grad/" target="_brank")筑波大学 図書館情報メディア研究科