- content_for(:title, "top")

%h2 2014年　3年次編入説明会
%a(href = "http://klis.tsukuba.ac.jp/3hen2014.html")（大学公式HPはこちら）
%ul
  %li 日時：2014年 4月26日（土）13:30-15:00
  %li
    |場所：筑波大学 春日エリア
    %a(href = "http://klis.tsukuba.ac.jp/access2.html")（アクセス情報）
%p ※予約が必要です

%h2 2014年 知識情報・図書館学類　学類説明会
%a(href = "http://klis.tsukuba.ac.jp/OpenCampus14.html")（大学公式HPはこちら）
%ul 
  %li 日時： 2014年7月23日（水）
  %li
    |場所：筑波大学 春日エリア
    %a(href = "http://klis.tsukuba.ac.jp/access2.html")（アクセス情報）

%p Last Update 2014/04.11
