extends layout/default

block title
  title 一般入試 | Q&A | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    h1 一般入試
    hr

    .row
      .col-sm-6
        .panel.panel-question
          .panel-heading
            h3 数学が苦手
          .panel-body
            p.
              ２年生のころに二次試験の問題を一度確認し、どんなものが最終目標なのか知っておくと良いです。
              問題数の割には時間は長いので、落ち着いて問題に取り組みましょう。
              あきらめずに自身を持てるようになるまで、たくさんの問題に触れることが大切です。

        .panel.panel-question
          .panel-heading
            h3 英語が苦手
          .panel-body
            p.
              長文問題はたくさんの問題を解いて、経験を積むのがオススメです。
              英作文は非常に単純な日本語を考え、英作文を作り、そこに様々な要素を付け加えていくと良いです。

        .panel.panel-question
          .panel-heading
            h3 理科・社会の二次試験はどうすればいいか
          .panel-body
            p.
              難しい問題もありますが、基礎が出来ていれば解ける問題です。
              基本となる用語や、全体の流れをきちんと理解して自分の言葉で説明出来るようになりましょう。
              問題を解いて経験を積むのも良いですが、先に参考書等を一冊読み通すことなどから始めると理解が深まると思います。

      .col-sm-6
        .panel.panel-question
          .panel-heading
            h3 地理はどうやって勉強すれば？？
          .panel-body
            p.
              資料集を読み込んだり、自分で白地図に世界の気象などを書き込んだりしてみると良いです。

        .panel.panel-question
          .panel-heading
            h3 英単語が覚えられない
          .panel-body
            p.
              暗記するのではなく、何回も出てくる単語に慣れる、という気持ちで取り組むと憶えやすいです。

        .panel.panel-question
          .panel-heading
            h3 よい息抜きの方法
          .panel-body
            p.
              自分にあったものを自分で見つけるのが一番です。
              区切りをつけるときは時間で決めるんじゃなくて勉強なら「この範囲をやりきる」とか
              休憩なら何かをするとかこれを食べるとかで区切ったほうが良いと(回答者は)思います。