extends layout/default

block title
  title 学校生活 | Q&A | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    h1 Q&A > 学校生活
    hr

    .row
      .col-xs-6
        .panel.panel-question
          .panel-heading
            h3 道に迷わないか
          .panel-body
            p.
              一年生のうちはキャンパスマップを常に持ち歩かないと授業の教室がどこにあるかはわからないかもしれません。

        .panel.panel-question
          .panel-heading
            h3 他人とコミュニケーションを取れるような場所はあるか
          .panel-body
            p.
              宿舎では学生とたくさんコミュニケーション出来ますよ！

        .panel.panel-question
          .panel-heading
            h3 学生寮で友達はできるか
          .panel-body
            p.
              1年生は大学の寮に入ることも多く、友人はできやすい環境だと思います。
              一緒にご飯をつくったり、部屋に招きあっている様子をよく見ます。

        .panel.panel-question
          .panel-heading
            h3 アパートに住む人は少ないのか
          .panel-body
            p.
              1年生は寮に住む人も多いですが、アパートに住む人もいます。数万円台で大学の近くにアパートはたくさんあります。

        .panel.panel-question
          .panel-heading
            h3 パソコン触ったことないんですが大丈夫でしょうか
          .panel-body
            p.
              そういう人はたくさんいるけれど、先生や経験のある友達に聞いてなんとか乗り越えているから大丈夫です。

        .panel.panel-question
          .panel-heading
            h3 宿舎ぐらしってどう？
          .panel-body
            p.
              (回答者は)思ってたより快適だった。スチューデントトークで発表する方がいるので聞きに行ってみましょう！

        .panel.panel-question
          .panel-heading
            h3 サークルとか大変じゃないですか？
          .panel-body
            p.
              大変です。でもある程度のお休みや遅刻は許されるし好きなことなので頑張れます。ガチなとことゆるゆるなところの見極めは大事。

        .panel.panel-question
          .panel-heading
            h3 図書館司書の就職が非常に少ないがどういうことか
          .panel-body
            p.
              一般企業への就職し、図書館に関係した仕事をしようとする方も多いです。
              また、図書館司書としての採用が非常に少ないなか、比較的健闘しているのではないでしょうか。
              公務員での採用でも、図書館で働く場合もあり、公務員での採用はとても良いです。
      .col-xs-6
        .panel.panel-question
          .panel-heading
            h3 出版社で編集の仕事がしたいが、就職先として可能か
          .panel-body
            p.
              知識情報・図書館学類では、「本」についての学習は可能です。
              出版社に就職する先輩方もいないわけではありませんが、幅広い進路を考慮に入れていただけると嬉しいです。

        .panel.panel-question
          .panel-heading
            h3 パソコンの扱いに自信がないが、大丈夫か
          .panel-body
            p.
              最初は自信のない人も多いですし、私自身もあまり得意ではなかったのです。
              ですが、1年生の必修科目「情報基礎実習」では、しっかりとパソコンの使い方を学び、ワード、エクセルなどの勉強ができるので、自信がなくても力がつきます。がんばりましょう！

        .panel.panel-question
          .panel-heading
            h3 テレビディレクターになれるか？？
          .panel-body
            p.
              自分次第でなんにでもなれる　ただし、それなりの努力が必要です。

        .panel.panel-question
          .panel-heading
            h3 図書館にそんなに興味なくても司書に慣れるか？？
          .panel-body
            p.
              努力次第です！

        .panel.panel-question
          .panel-heading
            h3 「人の記憶と教科の出来・不出来」について研究できるか？？
          .panel-body
            p.
              学生の研究を支援する取り組みもあります。また卒業研究でも可能かもしれません！

        .panel.panel-question
          .panel-heading
            h3 教職について
          .panel-body
            p.
              教員を目指しているのであれば、教職免許を取得する必要があります。

        .panel.panel-question
          .panel-heading
            h3 宅通の利点は？欠点は？
          .panel-body
            p.
              住み慣れたお家で快適な衣食住。病気になっても安心、ホームシックにもかかりません。しかし遠いと朝が辛かったり筑波独特の一体感に入れなかったりすることはあります。あなた次第です。
