extends layout/default

block title
  title AC入試 | Q&A | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    h1 AC入試
    hr
    .row
      .col-sm-6
        .panel.panel-question
          .panel-heading
            h3 AC入試とはどんなものか
          .panel-body
            p
              |パンフレットや
              a(href='http://ac.tsukuba.ac.jp/examination/leaf' target='_blank') Webページ
              |で概要を紹介。

      .col-sm-6
        .panel.panel-question
          .panel-heading
            h3 どんな研究をすればよいのか
          .panel-body
            p
              |過去の
              a(href='http://ac.tsukuba.ac.jp/examination/report' target_='_blank') 入学者レポート
              |を見てもらう。(回答者がAC入試合格者だったので)自分の研究の紹介。