extends layout/default

block title
  title 推薦入試 | Q&A | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    h1 推薦入試
    hr

    .row
      .col-sm-6
        .panel.panel-question
          .panel-heading
            h3 推薦入試に向けてどんな勉強をしましたか？
          .panel-body
            p.
              小論文と面接の対策。
              小論文は英文と日本語文があるので、英語の長文問題集を解いた。
              小論文対策は早めに始めたほうが良い。
              面接は、質問されそうなことをすべてノートに書き出し、答えを用意しておく。学校の先生に面接官役をやってもらい練習。

        .panel.panel-question
          .panel-heading
            h3 面接ではどんなことを聞かれましたか？
          .panel-body
            p.
              事前に提出した志願理由書や内申書から質問される。
              私は地元の図書館事情についての質問が多かった。英語が得意であることをアピールをしたため、英語での自己紹介をした。

        .panel.panel-question
          .panel-heading
            h3 小論文対策はいつから始めましたか？
          .panel-body
            p.
              AC入試の一次審査の結果が出てから始めました。

        .panel.panel-question
          .panel-heading
            h3 小論文対策はどんな風にやりましたか？過去問とかありますか？
          .panel-body
            p.
              国語の先生と英語の先生に問題を用意してもらい、毎日添削指導してもらった。
              過去問は3年前に同学類を推薦で受けた先輩の資料が学校にあり、参考にした。

        .panel.panel-question
          .panel-heading
            h3 一日何時間くらい勉強しましたか？
          .panel-body
            p.
              放課後、早い日で20時、遅い日で22時まで学校に残って添削指導や面接指導を受けた。帰宅してからは0時〜2時くらいまで勉強した。

      .col-sm-6
        .panel.panel-question
          .panel-heading
            h3 推薦入試を受けるのにやっておいたことがいいことは？
          .panel-body
            p.
              委員会に入る、大会に出る、作品を出すなど、色んなことに積極的に取り組んで行くこと。
              あと、入学後の目標や展望を語れるようになっておくこと。

        .panel.panel-question
          .panel-heading
            h3 推薦受けたいけど評定が足りないです
          .panel-body
            p.
              甘えるな！知識に来たいなら必死に評点を取りに行け！芸術や体育、家庭科もしっかりと。
              評定がよければ前期後期で特をすることもあるんですよ、と伝えました。

        .panel.panel-question
          .panel-heading
            h3 推薦の問題ってどんなのですか？
          .panel-body
            p.
              赤本が出ています、ここ(会場)にもあるので目を通してみましょう。英語と小論文ですよ。

        .panel.panel-question
          .panel-heading
            h3 問題難しい？対策は？
          .panel-body
            p.
              すごく難しいと言うことはありません。しかし時間配分には慣れておく必要があります。
              記述の分量や形式は変わるので慌てないこと。対策としてはとにかく英単語と小論文のスピードをあげましょう。
