extends layout/default

block title
  title 2015年 筑波大学 春の進学説明会 | 筑波大学 知識情報・図書館学類 学類説明会

block contents
  .container
    .page
      .page-header
        h1 2015年 筑波大学 春の進学説明会

      .page-body
        .row
          .col-sm-9.col-sm-push-3
            .tab-content
              #outline.tab-pane.active
                .notice.notice-danger
                  h4 お知らせ
                  p
                    |この説明会は終了しました。
                    |多数のご来場有難うございます。
                  p
                    |当日の様子は、
                    a(href='#gallery' data-toggle='tab') ギャラリー
                    |から、写真と動画でご覧頂くことが出来ます。

                h2 説明会の概要
                dl
                  dt 場所
                  dd
                    |筑波大学 東京キャンパス 文京校舎
                    br
                    |東京メトロ丸ノ内線「茗荷谷（みょうがだに）駅」徒歩3分

                  dt 日時
                  dd
                    |4月1日 (水)

                  dt 時刻
                  dd
                    |10:00～16:00

                .notice.notice-success
                  h4 お知らせ
                  p
                    |説明会への参加には申し込みが必要です。
                  p
                    a(href='http://daigakujc.jp/tsukuba/' target='_blank') コチラ
                    |から申し込みの上、ご参加ください。

              #program.tab-pane
                h2
                  |知識情報・図書館学類の説明
                  small （宇陀則彦 准教授）
                p 11:20-12:00　（参加者：約100名）
                p カリキュラムと入試の概要などについて、説明しました。

                h2 学生による受験体験・学生生活の紹介
                p 13:00-13:50　（参加者：約90名）
                p 受験体験（AC・推薦・前期・後期・3年次編入）、受験の準備、卒業研究や学生生活のことなどについて、知識情報・図書館学類の説明（3名）、情報メディア創成学類の説明（3名）を行いました。

                h2
                  |全体質疑
                  small (情報メディア創成学類と合同)
                p 13:50-14:10
                p 参加者の質問を受けた後、各学生がつくばでの生活（寮・アパート）についても説明しました。また、全体質疑終了後、別室で個別相談を行いました。

              #schedule.tab-pane
                h2 スケジュール
                p ※ 情報学群のスケジュールです
                .schedule
                  .schedule-time
                    span 10:00
                  .row.schedule-contents
                    .col-xs-12
                      .col-md-4.well.schedule-content
                        h4 情報学群全体の紹介
                        p
                          b 期間
                          |10:00-10:10
                          br
                          span （西川博昭 情報学群長）
                      .col-md-4.well.schedule-content
                        h4 情報メディア創成学類の紹介
                        p
                          b 期間
                          |10:10-11:20

                  .schedule-time
                    span 11:00
                  .row.schedule-contents
                    .col-xs-12
                      .col-md-4.well.schedule-content
                        h4 知識情報・図書館学類の説明
                        p
                          b 期間
                          |11:20-
                          br
                          span （宇陀則彦 准教授）


                  .schedule-time
                    span 13:00
                  .row.schedule-contents
                    .col-xs-12
                      .col-md-4.well.schedule-content
                        h4 学生による受験体験・学生生活の紹介
                        p
                          b 期間
                          |13:00-13:50
                          br
                          |受験体験、学類の特徴や科目の選択法、学生生活のことなどを、楽しくわかりやすく伝えます。(情報メディア創成学類と合同)

                      .col-md-4.well.schedule-content
                        h4 全体質疑 
                        p
                          b 期間
                          |13:50-
                          br
                          |全体質疑終了後、個別相談もあります。
                          br
                          |※ (情報メディア創成学類と合同)

                  .schedule-time
                    span 14:00
                  .row.schedule-contents
                    .col-xs-12
                      .col-md-4.well.schedule-content
                        h4 情報科学類の紹介
                        p
                          b 期間
                          |14:20-


              #gallery.tab-pane
                h2 当日の様子
                #gallery
                  //- p クリックすることで拡大してご覧いただけます。
                  .photos
                    a.col-sm-3.col-xs-4()
                      //- a.col-sm-3.col-xs-4(href='image/2014/klis/001.png' data-lightbox="gallery")
                      img.cover(src='image/2015/spring/1.png')
                    a.col-sm-3.col-xs-4()
                      //- a.col-sm-3.col-xs-4(href='image/2015/spring/002.png' data-lightbox="gallery")
                      img.cover(src='image/2015/spring/2.png')
                    a.col-sm-3.col-xs-4()
                      //- a.col-sm-3.col-xs-4(href='image/2015/spring/003.png' data-lightbox="gallery")
                      img.cover(src='image/2015/spring/3.png')
                    a.col-sm-3.col-xs-4()
                      //- a.col-sm-3.col-xs-4(href='image/2015/spring/004.png' data-lightbox="gallery")
                      img.cover(src='image/2015/spring/4.png')
                    a.col-sm-3.col-xs-4()
                      //- a.col-sm-3.col-xs-4(href='image/2015/spring/005.png' data-lightbox="gallery")
                      img.cover(src='image/2015/spring/5.png')
                    a.col-sm-3.col-xs-4()
                      //- a.col-sm-3.col-xs-4(href='image/2015/spring/006.png' data-lightbox="gallery")
                      img.cover(src='image/2015/spring/6.png')

          .col-sm-3.col-sm-pull-9
            ul.list-group(class='nav nav-tabs')
              a.list-group-item(href='#outline' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |概要
              a.list-group-item(href='#program' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |企画紹介
              a.list-group-item(href='#schedule' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |スケジュール
              a.list-group-item(href='#gallery' data-toggle='tab')
                i.fa.fa-arrow-circle-right.fa-fw
                |ギャラリー